@import "_colors";
@import "typography";

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    overscroll-behavior-x: none; /* disable navigation back/forward swipe on Chrome */
}

body {
    color: #b6b6b6;
}

/* tooltips */

.v-popper__popper {
    // max-width: 240px;
    font-size: 0.85em;
}